{% extends 'base.html.twig' %}

{% block title %} {{ 'title.change_password'|trans }} {{ parent() }}
{% endblock %}

{% block body %}
	<section class="container py-5">
		<div class="row justify-content-center">
			{% include "account/_nav.html.twig" %}
			<div class="col-12 col-lg-8">
				<div class="border p-3 mb-3">
					{% for notification in app.flashes('notification')  %}
						<div class="alert alert-info"> {{notification}}</div>
					{% endfor %} 
					<h1 class="heading">{{ 'headline.change_password'|trans }}</h1>
					<p class="paragraph">{{ 'help.change_password'|trans }}</p>
					{{ form_start(form) }}
						<div class="row mb-3">
							<div class="col-sm-3 col-form-label">{{ form_label(form.old_password) }}</div>
							<div class="col-sm-9">{{ form_row(form.old_password, {'label': false}) }}</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-3 col-form-label">{{ form_label(form.new_password.first) }}</div>
							<div class="col-sm-9">{{ form_row(form.new_password.first, {'label': false}) }}</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-3 col-form-label">{{ form_label(form.new_password.second) }}</div>
							<div class="col-sm-9">{{ form_row(form.new_password.second, {'label': false}) }}</div>
						</div>
						<button class="button button-action mb-3" type="submit">{{ 'action.update'|trans }}</button> 
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}