{% extends 'base.html.twig' %}

{% block title %}{{ 'title.connection'|trans }} {{ parent() }}{% endblock %}

{% block body %}
<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 mb-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1 class="heading mt-3 mb-4 text-center">
                {{ 'headline.log_in'|trans }}
            </h1>
            <a href="#" class="button button-outline-action w-100 mb-3"
                >{{ 'action.login_with_google'|trans }}</a>
            <p class="text-center">{{ 'or'|trans }}</p>
            <!-- Login form START -->
            <form method="post">
                <!-- Email input -->
                <div class="mb-3">
                    <label for="inputEmail">{{ 'label.email'|trans }}</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <!-- Password input -->
                <div class="mb-3">
                    <label for="inputPassword">{{ 'label.password'|trans }}</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <button class="button button-action w-100 mb-3" type="submit">
                    {{ 'action.login'|trans }}
                </button>
            </form>
            <!-- Login form End -->
            <div class="text-center">
                <p>
                    <a href="#" class="text-primary"
                        >{{ 'action.go_to_forgot_password'|trans }}</a>
                </p>
                <p>{{ 'action.go_to_register'|trans({'link': "#" })|raw }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
