<header id="header" class="sticky-top">
    <!-- Navbar START -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="{{ path('app_home') }}">
            <img
                src="{{ asset('build/images/logo.png') }}"
                alt="{{ 'alt.brand'|trans }}"
                width="140"
                height="30"
            />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#navbarOffcanvasLg"
                aria-controls="navbarOffcanvasLg"
            >
            <span
                class="navbar-toggler-icon"
                data-bs-target="#navbarOffcanvasLg"
            ></span>
            </button>
            <div
                class="offcanvas offcanvas-end offcanvas-light"
                data-bs-hideresize="true"
                tabindex="-1"
                id="navbarOffcanvasLg"
                aria-labelledby="navbarOffcanvasLgLabelLabel"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasLabel">
                        {{ 'menu.browse'|trans }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close btn-close-dark text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body">
                    <!-- Menu left START -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="menu-link" href="{{ path('app_activity_index') }}">{{ 'menu.find_partners'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-link" href="{{ path('app_activity_new') }}">{{ 'menu.add_activity'|trans }}</a>
                        </li>
                    </ul>
                    <!-- Menu left END -->
                    <!-- Menu right START -->
                    <ul class="nav navbar-nav ms-auto">
                        {% if app.user %}
                            <li class="dropdown">
                                <a class="button button-outline-action menu-link me-2" 
                                href="{{ path('app_logout') }}">{{ 'menu.logout'|trans }}</a>
                            </li>
                            <li class="dropdown">
                                <a class="button button-action menu-link me-2" 
                                href="{{ path('app_account_edit') }}">{{ 'menu.profile'|trans }}</a>
                            </li>
                        {% else %}
                            <li class="dropdown">
                                <a class="button button-outline-action menu-link me-2" 
                                href="{{ path('app_login') }}">{{ 'menu.login'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="button button-action menu-link me-2" href="{{ path('app_register') }}"
                                >{{ 'menu.register'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- Menu right END -->
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
</header>
