{% extends 'base.html.twig' %}

{% block title %}{{ 'title.new_activity'|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <section class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mb-3">
                {% for message in app.flashes('notice') %}
                    <p class="alert alert-warning">{{ message }}</p>
                {% endfor %}
                <h1 class="heading mt-3 mb-4 text-center">
                    {{ 'headline.new_activity'|trans }}
                </h1>
                <p class="lead">{{ 'lead.new_activity'|trans }}</p>
                <!-- New Activity form START -->
                {{ include('activity/_form.html.twig') }}
                <!-- New Activity form End -->
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block scripts %}
    <script>
        $('.js-example-basic-single').select2();
    </script>
{% endblock %}