<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} - {{ 'title.head'|trans }}{% endblock %}</title>
        <meta name="description" content="{{ 'description.head'|trans }}"/>
		<meta property="og:title" content="{{ 'title.head'|trans }}"/>
		<meta property="og:type" content="siteweb"/>
		<meta
		property="og:image" content="{{ asset('build/images/travel-buddy-mountain.jpg') }}"/>
		<meta property="og:description" content="{{ 'description.head'|trans }}"/>
		<link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "base/_header.html.twig" %}
        <main>{% block body %}{% endblock %}</main>
        {% include "base/_footer.html.twig" %}
    </body>
</html>
